{% extends 'base.html.twig' %}

{% block title %}Catalog: {{ tag.name }}{% endblock %}

{% block body %}

    <h1>{{ tag.name }}</h1>

    <div class="example-wrapper">

        {% for store in tag.stores %}
            <h2>
                <a href="{{ path('app_catalog_store', {'name': store.name}) }}">
                    <img class="store-img" src="{{ store.imagePath|imagine_filter('squared_thumbnail_mini') }}">
                    {{ store.name }}
                </a>
            </h2>
        {% else %}
            <h3>No items found.</h3>
        {% endfor %}

    </div>
{% endblock %}
